@import url('header-hero.css');

header {
  min-height: 53.125rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../images/background/Second-top.svg'),
    url('../images/background/Vector-top.svg');
  background-position: center center;
  background-size: cover;
  transform: scaleX(1.025);
}

/* NAVIGATION */
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  transition: background-color 0.2s ease-in;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 3.5rem;
  width: 100%;
  max-width: 87rem;
  padding: 0 3.5rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-logo a img {
  display: block;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.nav-link {
  display: inline-block;
}

.nav-link:first-child {
  display: none;
}

.nav-link a {
  color: rgba(255, 255, 255, 1);
  font-family: 'FuturaLightCTT';
  font-size: 1.125rem;
  font-weight: 300;
  transition: 0.2s ease-in-out;
}

.nav-link a:hover {
  color: rgba(255, 255, 255, 0.85);
}

.nav-cta a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  flex-wrap: nowrap;
}

.nav-cta-btn img {
  transition: opacity 0.2s ease-in-out;
}

.nav-cta:hover .nav-cta-btn img,
.nav-cta:hover .nav-cta-phone-number p {
  opacity: 0.85;
}

.nav-cta-phone-number p {
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 1);
  transition: opacity 0.2s ease-in-out;
}

.nav-cta-phone-number > p > .span-normal {
  font-family: 'FuturaFuturisCRegular';
  font-weight: 400;
}

.nav-cta-phone-number > p > .span-bold {
  font-family: 'FuturaFuturisC';
  font-weight: 700;
}

.nav-open-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0 1px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.nav-open-btn:hover {
  opacity: 0.85;
}

.nav-open-btn img {
  display: block;
  width: 100%;
}

/* Width 1360px */
@media (max-width: 85em) {
  .nav-link:first-child {
    display: inline-block;
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    cursor: pointer;
  }
  .nav-link:first-child img {
    display: block;
    width: 100%;
    color: #bcc0c0;
    width: 2.5rem;
    height: 2.5rem;
  }
  .nav-links {
    visibility: hidden; /* Hidden by default */
    opacity: 0; /* Fully transparent */
    transform: translateX(100%); /* Slide offscreen to the right */
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0; /* Ensure it's positioned on the right side */
    bottom: 0;
    background-image: linear-gradient(200deg, #250ebb 0%, #110d60 100%);
    z-index: 10001;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in;
  }

  .nav-links-visible {
    visibility: visible; /* Make visible */
    opacity: 1; /* Fully opaque */
    transform: translateX(0%); /* Slide into view */
    display: flex;
    flex-direction: column;
    width: 75%;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
  }

  .nav-link a {
    font-size: 1.3rem;
  }
  .nav-open-btn {
    display: flex;
  }
}

/* Width 660px */
@media (max-width: 41.25em) {
  .nav-wrapper {
    margin-top: 1.5rem;
  }
  .nav {
    padding: 0 1.5rem;
  }
}

/* Width 600px */
@media (max-width: 37.5em) {
  .nav-wrapper {
    margin-top: 1rem;
  }
  .nav {
    padding: 0 1rem;
  }
  .nav-cta-phone-number p {
    font-size: 1rem;
  }
}

/* Width 460px */
@media (max-width: 28.75em) {
  .nav-cta-phone-number p {
    display: none;
  }
}

.nav-wrapper-fixed {
  margin-top: 0rem;
  backdrop-filter: blur(0.5rem);
  background-color: rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(
    15deg,
    rgba(1, 31, 163, 0.25),
    rgba(0, 0, 0, 0.3),
    rgba(1, 31, 163, 0.25)
  );
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
