@import url('main-benefits.css');
@import url('main-manufacturers.css');
@import url('main-operation-scheme.css');

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
