.main-manufacturers {
  height: 728px;
  width: 100%;
  overflow: hidden;
}

.main-manufacturers-background {
  height: 100%;
  width: 100%;

  background-image: url('../images/background/Vector-middle.svg');
  background-position: center center;
  background-size: cover;
}

.main-manufacturers-background-second {
  height: 100%;
  width: 100%;

  background-image: url('../images/background/Second-middle.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Width 1280px */
@media (max-width: 80em) {
}

/* Width 1180px */
@media (max-width: 73.75em) {
}

/* Width 1080px */
@media (max-width: 67.5em) {
}

/* Width 660px */
@media (max-width: 41.25em) {
}

/* Width 600px */
@media (max-width: 37.5em) {
}

/* Width 530px */
@media (max-width: 33.125em) {
}

/* Width 460px */
@media (max-width: 28.75em) {
}

/* Width 380px */
@media (max-width: 23.75em) {
}

/* Width 330px */
@media (max-width: 20.625em) {
}
